/* MAIN COLORS */
$white:#fff;
$dusty-gray: #878787;
$silver: #ccc;
$light-grey: rgba(29, 29, 29, 0.7);
$manatee: #96969ce8;
$gray: #808080;
$dark-gray: #181717;
$light-red: #d03852;
$light-gray: #1d1b1b;
