$back-color: $light-gray;
$normal-font-color: $dusty-gray;
$active-font-color: $light-red;

.list-group {
  .list-group-item {
    color: $normal-font-color!important;
    background-color: transparent!important;
  }
}

#leftSideBar {
  .list-group {
    .list-group-item {
      padding-bottom: 25px;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      .view-name{
        padding-left:15px
      }
    }
    .list-group-item.active {
      color: $active-font-color !important;
      background-color: transparent!important;
      border-color: transparent!important;
    }
    .list-group-item:hover {
      background-color: transparent!important;
      border-color: transparent!important;
    }
  }
}
